body {
  background: lightgrey !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.headerA {
  color: white;
  text-decoration: none;
}

.headerA:hover {
  color: black;
}

.form-container {
  margin: 20px 0;
  padding: 0px 10px;
  text-align: center;
}

.search-input {
  width: 80%;
  padding: 6px;
  background: white;
  border-radius: 8px 0 0 4px;
  border: none;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.login-input {
  margin: 20px 10px;
  padding: 6px;
  background: white;
  border-radius: 8px 4px;
  border: none;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.pass-input {
  margin: 0px 0 0 10px;
  padding: 6px;
  background: white;
  border-radius: 8px 0 0 4px;
  border: none;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

input:focus {
  outline: none;
}

button {
  padding: 6px 16px;
  background: grey;
  border-radius: 0 4px 8px 0;
  border: none;
  color: white;
  outline: none;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  background: black;
}

button:focus {
  outline: none !important;
}

.lang-button-container {
  margin: 10px 0;
  max-width: 300px;
}

.parent {
  position: relative;
  margin: 0 auto;
}

.child {
  position: absolute;
  top: -4px;
  right: 10px;
}

.nos-style {
  padding: 4px 10px;
  border-radius: 50%;
  background: #8b0000;
  color: white;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.lang-button {
  border-radius: 8px 4px;
  margin: 0 5px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.add-button {
  border-radius: 8px 4px;
  margin: 4px 0px;
  float: right;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 1);
}

.remove-button {
  border-radius: 8px 4px;
  margin: -8px 0px;
  float: right;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 1);
}

.nav-button {
  border-radius: 8px 4px;
  margin-top: 10px;
  float: right;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.search-button {
  border-radius: 0 4px 8px 0;
  margin: 0 5px 0 0;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.nav-dropdown {
  display: none;
}

.nav-dropdown-show {
  display: block;
}

.saved-contained {
  margin: 16px;
}
.saved-card {
  margin: 0 auto;
  width: 80%;
  background: white;
  padding: 0 16px;
  border-radius: 24px 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
}

.scroll {
  margin: 10px;
  overflow-y: scroll;
  height: 200px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

.articles-top {
  margin-top: 100px;
}

.cards {
  background: white;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 0 0 24px 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.cards-img {
  margin: 16px 0 0 0;
  background: grey;
  padding: 16px;
  border-radius: 24px 8px 0 0;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.img-css {
  width: 100%;
  height: auto;
  border-radius: 24px 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 18px;
  padding-top: 10px;
}

.author {
  font-size: 12px;
}

.content {
  word-break: normal, break-all, keep-all, break-word, initial, inherit;
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
  color: grey;
}
